@model MVCTest.Models.Dipendente

@{
    ViewBag.Title = "Details";
}

<h2 class="text-light">Dettagli del Dipendente</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card my-3 rounded-0 border-0 shadow-sm">
                <div class="card-header border-0">
                    <h5 class="card-title fw-bold">@Model.Nome @Model.Cognome</h5>
                </div>
                <div class="card-body">
                    <p class="card-text fw-semibold">Indirizzo: @Model.Indirizzo</p>
                    <p class="card-text fw-semibold">Codice Fiscale: @Model.CodiceFiscale</p>
                    <p class="card-text fw-semibold">Coniugato: @(Model.Coniugato ? "Sì" : "No")</p>
                    <p class="card-text fw-semibold">Numero Figli: @Model.NumeroFigli</p>
                    <p class="card-text fw-semibold">Mansione: @Model.Mansione</p>
                </div>
                <div class="card-footer border-0">
                    @Html.ActionLink("Modifica", "Edit", new { id = Model.DipendenteID }, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Torna alla lista", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    </div>
</div>
